/*
 * Wp entry Public Styles
 * Styled used for the front-end of the website
 */

/*clearfix*/
.cf:before,
.cf:after {
    content: " ";
    display: table; /
}
.cf:after {
    clear: both;
}

/*entry listing*/
.entry_list{
	float: left;
	width: 100%;
}
.entry_list .entry{
	float: left;
	width: 100%;
}
.entry_list .entry img{
	margin: 0px 15px 15px 0px;
	float: left;
}
.entry_list .entry .phone_email{
	clear: both;
}
.entry_list .entry .readmore{

}
